
@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/my-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'MyCustomFont2';
    src: url('/src/assets/fonts/my-font2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  